

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	height: 920px;
}

/* ~~ Element-/Tag-Selektoren ~~ */
ul, ol, dl { /* Aufgrund von Abweichungen zwischen verschiedenen Browsern empfiehlt es sich, die Auffüllung und den Rand in Listen auf 0 einzustellen. Zu Konsistenzzwecken können Sie die gewünschten Werte entweder hier oder in den enthaltenen Listenelementen (LI, DT, DD) eingeben. Beachten Sie, dass die hier eingegebenen Werte hierarchisch auf die .nav-Liste angewendet werden, sofern Sie keinen spezifischeren Selektor festlegen. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* Durch Verschieben des oberen Rands wird das Problem behoben, dass Ränder aus dem zugehörigen div-Tag geraten können. Der übrig gebliebene untere Rand hält ihn getrennt von allen folgenden Elementen. */
	padding-right: 15px;
	padding-left: 15px; /* Durch Hinzufügen der Auffüllung zu den Seiten der Elemente innerhalb der div-Tags anstelle der div-Tags selbst entfallen jegliche Box-Modell-Berechnungen. Alternativ kann auch ein verschachteltes div-Tag mit seitlicher Auffüllung verwendet werden. */
}
a img { /* Dieser Selektor entfernt den standardmäßigen blauen Rahmen, der in einigen Browsern um ein Bild angezeigt wird, wenn es von einem Hyperlink umschlossen ist. */
	border: none;
}
/* ~~ Die Reihenfolge der Stildefinitionen für die Hyperlinks der Site, einschließlich der Gruppe der Selektoren zum Erzeugen des Hover-Effekts, muss erhalten bleiben. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* Sofern Ihre Hyperlinks nicht besonders hervorgehoben werden sollen, empfiehlt es sich, zur schnellen visuellen Erkennung Unterstreichungen zu verwenden. */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* Durch diese Gruppe von Selektoren wird bei Verwendung der Tastatur der gleiche Hover-Effekt wie beim Verwenden der Maus erzielt. */
	text-decoration: none;
}

/* ~~ Dieser Container mit fester Breite umschließt alle anderen Elemente. ~~ */
.container {
	width: 960px;
	background-color: #FFF; /* Der mit der Breite gekoppelte automatische Wert an den Seiten zentriert das Layout. */
	border: 1px solid #000;
	height: 900px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* ~~ Dies sind die Layoutinformationen. ~~ 

1) Eine Auffüllung wird nur oben und/oder unten im div-Tag positioniert. Die Elemente innerhalb dieses div-Tags verfügen über eine seitliche Auffüllung. Dadurch müssen Sie keine Box-Modell-Berechnungen durchführen. Zu beachten: Wenn Sie dem div-Tag eine seitliche Auffüllung oder einen Rahmen hinzufügen, werden diese zu der festgelegten Breite addiert und ergeben die *gesamte* Breite. Sie können auch die Auffüllung für das Element im div-Tag entfernen und ein zweites div-Tag ohne Breite und mit der gewünschten Auffüllung im ersten div-Tag einfügen.

*/
.content {
	padding: 10px 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

/* ~~ Verschiedene float/clear-Klassen ~~ */
.fltrt {  /* Mit dieser Klasse können Sie ein Element auf der Seite nach rechts fließen lassen. Das fließende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* Mit dieser Klasse können Sie ein Element auf der Seite nach links fließen lassen. Das fließende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* Diese Klasse kann in einem <br />-Tag oder leeren div-Tag als letztes Element nach dem letzten fließenden div-Tag (im #container) platziert werden, wenn overflow:hidden im .container entfernt wird. */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.header {
	text-align: center;
	vertical-align: top;
	display: block;
	float: none;
	height: auto;
	width: auto;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.showonly {
	width: 400px;
	height: 190px;
	background-color: #C0C0C0;
	border-radius: 10px;
}
.bg {
	height: 22px;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
}
#input_login {
	vertical-align: middle;
	display: block;
	font-style: italic;
	position: static;
	height: auto;
	width: auto;
	left: auto;
	right: auto;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#userinput {
	height: 32px;
	width: 256px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
}

#userinputvalues {
	height: 32px;
	width: 256px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
	background-color: #DDD;
}
#userinputvalues_rich {
	height: 128px;
	width: 256px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
	background-color: #DDD;
}
#showonlyvalues {
	height: 32px;
	width: 256px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
	background-color: #DDD;
}
#readonly {
	height: 32px;
	width: 256px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	background-color: #C0C0C0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
}
#readonly_small {
	height: 32px;
	width: 164px;
	border-radius: 10px;
	border: 2px solid #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	float: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: center;
}
#button {
	background-color: #00FF00;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-color: #C0C0C0;
	color: #000;
	margin: 10px;
	height: 32px;
	width: 164px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
#button:active { 
	border:none;
	width: 160px;
	height: 30px;
	margin: 12px;
}
#button:hover {
	background-color: #47C824;
}
#button_large {
	background-color: #00FF00;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-color: #C0C0C0;
	color: #000;
	margin: 10px;
	height: 32px;
	width: 380px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
#button_large:active { 
	border:none;
	width: 376;
	height: 30px;
	margin: 11px;
}
#button_large:hover {
	background-color: #47C824;
}
#button_edit {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #000;
	background-color: #C0C0C0;
	margin: 10px;
	height: 32px;
	width: 120px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#button_edit:active { 
	border:none;
	width: 118px;
	height: 30px;
	margin: 11px;
}
#button_edit:hover {
	background-color: #A4A4A4;
}
.navigationbar {
	width: 960px;
	background-color: #D0D0D0;
	border-bottom: 2px solid #787878;
	height: 50px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#navigationbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	float: left;
	font-weight: bold;
	background-color: #D0D0D0;
	height: 50px;
	width: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#navigationbutton:hover { 
	background-color: #A4A4A4;
}
#input_login {
	vertical-align: middle;
	display: block;
	font-style: italic;
	position: static;
	height: auto;
	width: auto;
	left: auto;
	right: auto;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
label {
    display: inline-block;
	vertical-align: top;
	margin-top: 15px;
    width: 126px;
	text-align: right;
	font-weight: bold;
}
bottom {
	position:absolute;
    bottom:25px;
	right: 325px;
	float:right;	
}

